# Игнорировать папку сборки
/build/

# Игнорировать временные файлы IDE
.vscode/
.idea/
*.suo
*.user
*.sln
*.vcxproj*

# Игнорировать бинарники и объектные файлы
*.o
*.obj
*.exe
*.out
*.a
*.lib
*.dll
*.pdb
